<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="C:\xampp\htdocs\ecommerce\public\assets\css\bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="C:\xampp\htdocs\ecommerce\public\js\jquery.min.js"></script>
</head>
<style type="text/css">
    body {
    background: grey;
    margin-top: 120px;
    margin-bottom: 120px;
}
.dark-text{
    
    font-size: 80%;
}
.sales-order{
    font-size: 180%;
}
</style>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="http://via.placeholder.com/250x100?text=logo">
                        </div>
                        <div class="col-md-5 text-left">
                            <b class="dark-text">SMART BROTHERS MOBILE ACCESERIES</b><br>
                            <b class="dark-text">NANKANA SAHB PUNJAB PAKISTNA</b><br>
                            <b class="dark-text">CALL,SMS,WHATSAPP-0340-4300020-0346-6318063</b><br>
                            <b class="dark-text">Email:   SAFYANRASHEED1@GMAIL.COM</b><br>
                            <b class="dark-text">[ESTABLISHED IN DECEMBER 2014]</b>
                        </div>
                        <div class="col-md-4 text-right">
                            <p class="sales-order"><b>Sales Order<b></p>
                            <p class="dark-text">Order#  SMART- 8989898</p>
                            <p class="dark-text">Date  09-12-2018</p>
                        </div>
                    </div>

                    

                    <div class="row">
                        <div class="col-md-3">
                            <p class="MB-1">BILLING ADDRESS</p>
                            <p class="mb-1">JS MOBILE YUSUF ABABDI YUSUF ABABDI</p>
                            <p>CONTACT INFORMATION</p>
                            <p class="mb-1">JAVED, 0303-4010919</p>
    
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        
                                        <th class="border-0 text-uppercase small font-weight-bold">Item</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Quantity</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Unit Price</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Total Price</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        
                                        <td>Nokia</td>
                                        <td>2</td>
                                        <td>Rs150</td>
                                        <td>Rs300</td>
                                        
                                    </tr>
                                    <tr>
                                         <td>Nokia</td>
                                        <td>2</td>
                                        <td>Rs150</td>
                                        <td>Rs300</td>
                                    </tr>
                                    <tr>
                                          <td>Nokia</td>
                                        <td>2</td>
                                        <td>Rs150</td>
                                        <td>Rs300</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row bg-dark text-white">
                        <div class="col-md-8 text-left">
                           
                        </div>
                        <div class="col-md-2 text-left">
                            <div class="mb-2">Sub Total</div>
                            <div class="h1 font-weight-light">Rs300</div>
                        </div>

                        <div class="col-md-2 text-left">
                            <div class="mb-2">Total </div>
                            <div class="h1 font-weight-light">Rs300</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>



</body>
</html>






<!------ Include the above in your HEAD tag ---------->

